@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
nav {
    background-color: #FFFFFF;
}

nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #6C6C6C;
    font-size: 16px;
}

@media (min-width: 1400px) {
    .main-nav {
        max-width: 1815px;
    }
}

.call-button {
    font-size: 14px;
    width: 176px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    border: 0.5px solid #919191;
    color: #6C6C6C;
    border-radius: 10px;
}

.appoinment-button {
    font-size: 14px;
    width: 176px;
    height: 50px;
    border-radius: 10px;
    background-color: #EF6724;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/* BANNER */

.banner {
    height: 100vh;
    background-image: url('../images/banner/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-shape{
    max-width: 818px;
    min-height: 818px;
    background-image: url('../images/shape/3.png');
    background-repeat: no-repeat;
    background-size: cover;
}