@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.right-icon {
    color: #EF6724;
    border-radius: 100%;
    background-color: #FFFFFF;
}




/* NAVBAR */
nav {
    background-color: #FFFFFF;
}

nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #6C6C6C;
    font-size: 16px;
}

@media (min-width: 1400px) {
    .main-nav {
        max-width: 1815px;
    }
}

.call-button {
    font-size: 14px;
    width: 176px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    border: 0.5px solid #919191;
    color: #6C6C6C;
    border-radius: 10px;
}

.appoinment-button {
    font-size: 14px;
    width: 176px;
    height: 50px;
    border-radius: 10px;
    background-color: #EF6724;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/* BANNER */



.banner {
    background-image: url('../images/banner/banner.png');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.banner-content-box {
    position: absolute;
    top: 19%;
    right: -74px;
    background-color: #f95900c4;
    width: 762px;
    height: 701px;
    border-radius: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    margin: 20px;
    margin: 114px;
}

.banner span {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.banner h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}

.banner a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.banner i {
    color: #EF6724;
    border-radius: 100%;
    background-color: #FFFFFF;


}

/* ABOUT */


.about-bgline {
    bottom: -187px;
    z-index: -2;
}

.about-image {
    z-index: 5;
}

.feature {
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    place-items: center;
}

.feature1 {
    top: 112px;
    left: 330px;

}

.feature2 {
    bottom: 124px;
    left: 370px;
}

.feature3 {
    right: 274px;
    bottom: 126px;
}

.feature4 {
    right: 299px;
    top: 56px;
}

.feature-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.feature-icon1 {
    background-color: #23BDEE;
    border-radius: 14px;
}

.feature-icon2 {
    background-color: #F3627C;
    border-radius: 14px;
}

.feature-icon3 {
    background-color: #23BDEE;
    border-radius: 14px;
}

.feature-icon4 {
    background-color: #F3627C;
    border-radius: 14px;
}

.about-circle-left {
    left: 83px;
    bottom: 0;
}



/* HOW DO WE WORK */

.work {
    background-color: #F5F5F5;
}

.work-icon2 {
    right: 210px;
    top: 172px;
}

.work-icon3 {
    right: 64px;
    bottom: -173px;
}

.work-icon4 {
    right: 70px;
    bottom: -142px;
}

.work-card {
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.2);
    border-radius: 120px 0px 0px 0px;
    background-color: #F5F5F5;
    border: 0.5px solid #F07539;
    position: relative;
    z-index: 1;
    height: 565px;
}

@media (min-width: 1400px) {
    .work-container {
        max-width: 1525px;
    }
}

.top-heading {
    color: #EF6724;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.main-heading {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    color: #6C6C6C;
}

.main-paragraph {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}

.work-card-count {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    color: #F07539;
}

.work-card-count-box {
    border: 0.5px solid #EF6724;
    border-radius: 100%;
    background-color: #ffff;
}

.doctor-img {
    height: 150px;
    width: 100px;
}

.work-card-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #6C6C6C;
}

.work-card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #6C6C6C;
}

.main-section {
    background-color: #F5F5F5;
    padding-top: 168px;
}


.work-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    border-radius: 120px 0px 0px 0px;
    background-color: #6C6C6C;
    border: #6C6C6C 0.5px solid;
    opacity: 0;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transition-duration: .6s;
    transition-duration: .6s
}



.work-card .work-card-heading {
    margin-bottom: 5px;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.work-card svg {
    margin-bottom: 5px;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}


.work-card p {
    margin-bottom: 0;
    color: var(--bodyColor);
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.work-card:hover::before {
    opacity: 1;
    width: 100%
}

.work-card:hover .work-card-heading {
    color: #FFFFFF;
}

.work-card:hover p {
    color: #FFFFFF;
}


.work-card:hover path {
    fill: #FFFFFF;
}

/* TEXT GOES HERE */

.text-goes-pattern {
    bottom: -164px;
    left: 163px;
}

.text-goes-circle-left {
    left: 70px;
    bottom: -251px;
}

.text-goes-circle-right {
    right: 119px;
    bottom: 90px;
}



@media (min-width: 1400px) {
    .text-goes-canvas {
        max-width: 1405px;
    }
}

.text-goes-image-left {
    border-radius: 200px 0px 0px 0px;
}

.text-goes-image-right {
    border-radius: 0px 200px 0px 0px;
}

.text-goes-overlay-left {
    border-radius: 200px 0px 0px 0px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 500ms cubic-bezier(0, 0, 0.2, 1);
    background-color: #7a7979c4;
}

.text-goes-anime:hover .text-goes-overlay-left {
    top: 0;
}

.text-goes-overlay-right {
    border-radius: 0px 200px 0px 0px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 500ms cubic-bezier(0, 0, 0.2, 1);
    background-color: #7a7979c4;
}

.text-goes-anime:hover .text-goes-overlay-right {
    top: 0;
}

.card-overlay-inner h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;

}

.card-overlay-inner p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #FFFFFF;

}

.card-overlay-inner .more-icon {
    font-family: 'Montserrat';
    background-color: #FFFFFF;
    opacity: 1 !important;
    color: #EF6724;
    border-radius: 100%;
}



.card-overlay-inner .read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #FFFFFF;
}





/* SERVICE */
.service-container {
    max-width: 860px;
}

.service-card {
    position: absolute;
    bottom: 21px;
    right: 0;
    max-width: 508px;
    height: 667px;
    background-color: rgba(239, 103, 36, 0.9);
    border-radius: 223px 0px 0px 0px;

}

.service-card-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.service-car-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #FAF5F2;
}

.more-icon-color {
    font-family: 'Montserrat';
    background-color: #FFFFFF;
    opacity: 1 !important;
    color: #EF6724;
    border-radius: 100%;
}

.read-more-white {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #FFFFFF !important;
}


.service-icon1 {
    right: 126px;
    top: 278px;
}

.service-icon2 {
    right: 108px;
    top: 649px;
    z-index: 4;
}

.service-icon3 {
    left: 207px;
    top: 606px;
    z-index: 3;
}

.service-icon4 {
    bottom: -76px;
    left: 138px;

}

.service-image {
    max-width: 1228px;
}

.read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #EF6724;
}


/* MEET BEST DOCTOR */

.doctor {
    border: none;
    background-color: #F5F5F5;
}

.doctor-name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #EF6724;
}

.doctor-post {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #6C6C6C;

}

.doctor-icon {
    top: -60px;
    right: 184px;
    z-index: 1;
}

.third-doctor {
    z-index: 2;
}

@media (min-width: 1400px) {
    .doctor-container {
        max-width: 1526px;
    }
}



/* .about-section {
    background-color: #F5F5F5;
    padding-bottom: 250px;
} */



/* NEWS */

.news-subtitle {
    color: #EF6724;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.news-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    color: #6C6C6C;
}

.news-link {
    color: #EF6724;

}


.news-card {
    border-radius: 16px;
}


/* FOOTER */

/* @media (min-width: 1400px) {
    .footer-conatiner {
        max-width: 1526px;
    }
} */

footer {
    background-color: #F9F9F9;
}

.footer-about {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232536;
}

.footer-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #EF6724;
}

footer li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #232536;
    list-style: none;
}

.talk {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #EF6724;

}

.contact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #232536;
}

.subscribe {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #EF6724;
}


/* CONTACT */

.contact-form{
    background-color: #FFFFFF;
    opacity: 0.9;
    border-radius: 223px 0px 0px 0px;
}

.contact.image {
    max-width: 62%;
}

.contact-form input,
.input-group,
.form-select {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 16px !important;
    padding: 16px 8px;
}

.contact-form .input::placeholder {
    color: #B3B4B4;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

.contact-form input{
    padding: 16px 8px;
}

.contact-form label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}


.contact-form form {
    width: 58%;
}

.contact-form .contact-submit {
    font-size: 14px;
    padding-left: 79px;
    padding-right: 79px;
    border-radius: 10px;
    background-color: #EF6724;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.contact-image{
        top: 61px;
        z-index: 1;
        left: -102px;
}

.contact-image img{
    width: 756px;
}


/* 
320 - 576 : Phone 577 - 768 : Tab 769 - 991 : Lap 991 - : Large screen */
/* RESPONSIVE */

@media (max-width: 820px) {

    /* BANNER */
    .banner-content-box {
        position: absolute;
        top: 24%;
        right: -74px;
        background-color: #f95900c4;
        height: 418px;
        border-radius: 100%;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-content {
        margin: 55px;
    }

    .banner span {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }

    .banner h1 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 27px;
        line-height: 37px;
        color: #FFFFFF;
    }

    .banner a {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 24px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .banner i {
        color: #EF6724;
        border-radius: 100%;


    }





    .main-heading {
        font-size: 34px;
    }

    .main-paragraph {
        line-height: 22px;
    }

    .about-bgline {
        top: 50%;
        z-index: -2;
    }

    .feature1 {

        top: 0;
        left: 0;
    }

    .feature2 {
        right: 0;
        top: 0;
    }


    .feature3 {
        bottom: 0;
        left: 0;
    }


    .feature4 {
        top: 0;
        left: 30px;
    }


    .feature-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #000000;
    }

    .feature-icon1 {
        background-color: #23BDEE;
        border-radius: 14px;
    }

    .feature-icon2 {
        background-color: #F3627C;
        border-radius: 14px;
    }

    .feature-icon3 {
        background-color: #23BDEE;
        border-radius: 14px;
    }

    .feature-icon4 {
        background-color: #F3627C;
        border-radius: 14px;
    }

    /* TEXT GOES */


    .card-overlay-inner p {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: #FFFFFF;
    }

    .card-overlay-inner h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF;
    }

    /* CONTACT */

    .contact-form form {
        width: 100%;
    }
    .contact-form .contact-submit {
        padding-left: 50px;
        padding-right: 49px;
    }
    .contact-form {
        background-color: #FFFFFF;
        opacity: 0.9;
        border-radius: 0PX 0px 0px 0px;
       
    }
    .contact-image{
        display: none;
}
}



/* ANIMATION */
/*
@media (prefers-reduced-motion) {
    [data-animation] {
        animation: none;
    }
}


.animation-group [data-animation].animate {
    opacity: 1;
}

.animation-group [data-animation] .icon {
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.animation-group [data-animation]:hover {
    background: radial-gradient(circle at 50% 45%, rgba(189, 50, 255, 0.2) 0%, #232323 60%);
    box-shadow: 0 4px 25px #000, inset 2px 2px 2px #393939;
}

.animation-group [data-animation]:hover .icon {
    transform: scale(1.1);
} 

 .animation-group [data-animation]:nth-child(1) {
    animation-delay: 100ms;
}

.animation-group [data-animation]:nth-child(2) {
    animation-delay: 500ms;
}

.animation-group [data-animation]:nth-child(3) {
    animation-delay: 900ms;
}

.animation-group [data-animation]:nth-child(4) {
    animation-delay: 1300ms;
} */

/* Animations */
/* :root {
    --animate-duration: 1.5s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animated {
    animation-duration: 1s;
    animation-duration: var(--animate-duration);
    animation-fill-mode: both;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
} */